{% extends 'base.html.twig' %}

{% block title %}Asset{% endblock %}

{% block body %}
    <h1>Asset</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asset.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ asset.title }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ asset.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ asset.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_asset_index') }}">back to list</a>

    <a href="{{ path('app_asset_edit', {'id': asset.id}) }}">edit</a>

    {{ include('asset/_delete_form.html.twig') }}
{% endblock %}
