{% extends 'base.html.twig' %}

{% block title %}PhoneDirectory index{% endblock %}

{% block body %}
    <h1>PhoneDirectory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for phone_directory in phone_directories %}
            <tr>
                <td>{{ phone_directory.id }}</td>
                <td>{{ phone_directory.name }}</td>
                <td>{{ phone_directory.phone }}</td>
                <td>
                    <a href="{{ path('app_phone_directory_show', {'id': phone_directory.id}) }}">show</a>
                    <a href="{{ path('app_phone_directory_edit', {'id': phone_directory.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_phone_directory_new') }}">Create new</a>
{% endblock %}
